*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.flexbox{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.flexcontent{
    width: 300px;
    height: 300px;
    border-radius: 8px;
    background-color: cadetblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.flexcontent:nth-child(odd) {
    background-color: rgb(13, 22, 140);
 
  }
  
  .flexcontent:nth-child(odd):hover {

    transform: translateY(-10px);
  }
  
